<header>
    <nav class="container">
        <a href="{{ path('app_home') }}" class="logo">MakeYourPC</a>
        <ul class="nav-links">
            <li><a href="#"><i data-lucide="cpu"></i>Produits</a></li>
            <li><a href="#"><i data-lucide="shopping-cart"></i>Panier</a></li>
            <li><a href="#"><i data-lucide="user"></i>Connexion</a></li>
        </ul>
    </nav>
</header>
