<header>
    <nav class="container">
        <a href="{{ path('app_home') }}" class="logo">
            <img src="{{ asset('images/Logo.svg') }}" alt="Logo MakeYourPC" class="img-fluid" style="width: auto; height: 50px; max-width: 100%; margin-top: 10px;">
        </a>
        
        <ul class="nav-links">
            <li><a href="{{ path('app_products') }}">Produits</a></li>
            <li class="cart-icon">
                <a href="#">
                    <i data-lucide="shopping-cart"></i>
                    <span class="cart-count">0</span>
                </a>
            </li>
            <li><a href="#"><i data-lucide="user"></i></a></li>
        </ul>
    </nav>
</header>
