{% extends 'base.html.twig' %}

{% block title %}Accueil - MakeYourPC{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="animate-on-scroll">Bienvenue sur Make Your PC</h1>
        <p class="animate-on-scroll">Créez votre PC gaming sur mesure avec nos composants</p>
        <a href="#" class="cta-button animate-on-scroll"><i data-lucide="tool"></i> Voir nos produits</a>
    </div>
{% endblock %}
